.nav {
    grid-area: nav;
    background: #73D2DE;
    padding: 10px;
}

li {
    list-style-type: none;}

.item a {
    color: whitesmoke;
    text-decoration: none;
}

.item a.activeLink {
    color: orangered;
}