.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
    grid-template-areas:
          'header header header'
          'nav content content';
    width: 100vw;
}

.header {
    grid-area: header;
    background: coral;
}

.nav {
    grid-area: nav;
    background: bisque;
}

.content {
    grid-area: content;
    background: darkcyan;
}

.app-logo {
    width: 9%;
}

img {
    width: 80vw
}

.avatar {
    width: 10%;
}