.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}


.dialogsItem a.activeLink {
    color: orangered;
}

a{
    text-decoration: none;
    color: white;
}
.massages {
    padding: 10px;
    background: bisque;
}
